<ion-header>
    <ion-toolbar>
       <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
      <ion-title>
        Details
      </ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content padding>
  <div *ngIf="post$ | async as post">
    <h1 [innerHTML]="post.title.rendered"> </h1>
    <p no-margin> <small> Published by {{post._embedded.author[0].name }} on {{post.date }} </small> </p>
   
    <div text-center padding *ngIf="post.featured_image">
      <img class="featured_image" [src]="post.featured_image" alt="Featured Image">
    </div>
    <div [innerHTML]="post.content.rendered"></div>
  </div>
</ion-content>
